<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>{{ page.title }}</title>
     <meta name="author" content="Trek glowakcki" />
     <!-- syntax highlighting CSS -->
     <link rel="stylesheet" href="css/syntax.css" type="text/css" />
     <!-- Homepage CSS -->
     <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    
    <div class="container">
      
      {{ content }}
      
      {% if page.previous_url %}
        <span class='previous'>
          &#x261c; <a href='{{ page.previous_url }}.html'>{{ page.previous_text }}</a>
        </span>
      {% endif %}
      
      {% if page.next_url %}
        <span class='next'>
          <a href='{{ page.next_url }}.html'>{{ page.next_text }}</a> &#x261E;
        </span>
      {% endif %}
      <div class="footer"></div>
    </div>
    
    <a href="http://github.com/trek/exposure">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
    </a>
  </body>
</html>
